h1 {
	width: 960px;
	font-family: georgia, serif;
	text-align: center;
}

#buttonbars {
	width: 960px;
}

button {
	height: 75px;
	width: 225px;
	display: inline-block;
	margin: ;
	border: none;
}

table {
	height: 960px;
	width: 960px;
	border-collapse: collapse;
	border-spacing: 0px;

}

.pixel {
background-color: #000000;
display: inline-block;
}

.mouseOver {
background-color: #ffffff;
}

